<div class="container p-3 col-md-8 col-lg-6">
  <div>
    <h3 class="text-center primary-font-size" >Sign Up</h3>
  </div>

  <%= render partial: 'form', locals: { user: @user} %>

  <p class="mt-1">
    <span>Already have an Account? </span>
    <span><%= link_to 'Login!', login_path, class: 'text-decoration-none' %></span>
  </p>
</div>
