<div class="d-inline-block position-relative ">
  <i class="fs-3 fw-bolder bi bi-cart"></i>
  <span class="w-100 cart-badge text-center bg-warning rounded-circle position-absolute <%= count == 0 ? 'd-none' : '' %> "> <%= count %>
  </span>
</div>