<%# shopping cart modal %>
<div class="modal fade" id="shopping-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <% if @current_order.order_items.size > 0 %>
            <%= render @current_order.order_items %>
          <% else %>
           ' Add Sneakers to cart to view Here'
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        
        <% if @current_order.order_items.size > 0 %>
          <button type="button" class="btn btn-dark w-100" data-bs-dismiss="modal">
            <span>Check Out</span>
            <span><i class="bi bi-chevron-right"></i></span>
          </button>
          <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">
            Continue Shopping
          </button>
        <% end %>
        
      </div>
    </div>
  </div>
</div>