<div class="d-flex flex-column align-items-center">
  <p class="fs-3 connect-title position-relative">
    Connect With Us
  </p>
  <p class="text-center mt-2">
    Stay up to date with the latest news on new arrivals, exclusive sales, and more.
  </p>
  <form class="">
    <div class="mb-3 pl-2">
      <input 
        type="email" 
        class="form-control" 
        id=""
        required
        aria-describedby="emailHelp"
        placeholder="example@email.com"
      />
    </div>
    <button type="submit" class="btn w-100 bg-dark text-light">Subscribe</button>
  </form>
</div>
