<div class="d-flex flex-column align-items-center">
  <div class="d-flex flex-column align-items-center col-10">
    <p class="fs-3  fw-bold connect-title position-relative">
      Connect With Us
    </p>
    <p class="text-center py-3 mt-2">
      Stay up to date with the latest news on new arrivals, exclusive sales, and more.
    </p>
  </div>
  <form class="d-md-flex justify-content-center col-12 pb-md-2">
    <div class="mb-3 mb-md-0 pl-2 col-md-5 me-md-2">
      <input 
        type="email" 
        class="form-control primary-font-size" 
        id=""
        required
        aria-describedby="emailHelp"
        placeholder="example@email.com"
      />
    </div>
    <button type="submit" class="col-12 btn primary-font-size bg-dark text-light col-md-5">Subscribe</button>
  </form>
</div>
