<%= link_to sneaker, class: "p-1 my-1 bg-white text-decoration-none text-black" do %>
  <article class="col">
    <div>
      <%= image_tag sneaker.image_url, class: 'img-fluid', alt: sneaker.image_url %>
    </div>
    <p class="d-flex justify-content-between py-1">
      <span class="inline-block"><%= sneaker.name %></span>
      <span class="inline-block">$<%= sneaker.price %></span>
    </p>
  </article>
<% end %>
