<div data-controller="modal" data-modal-target="modal"  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-auto" id="staticBackdropLabel">Payment Completed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Thank you</p>
      </div>
      <div class="modal-footer">
        <%= link_to root_path, class: "btn btn-secondary" do %>
          <span role="button" >Close</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
