<div class="col-sm-12 col-md-6 d-flex justify-content-center flex-column bg-light py-2 border">
  <div class="row">
    <%= render partial: 'orders/order_item_summary', collection: order.order_items, as: :order_item %>
  </div>

  <div class="align-self-end">
    <span>Total: </span>
    <span>$<%= order.total %></span>
  </div>
</div>
