<div class="container d-flex justify-content-between bg-light py-2 border">
  <div>
    <i class= "bi bi-cart"></i>
    <span>Order Summary</span>
  </div>
  <div>
  <span>Total: </span>
  <span><%= order.total %></span>
  </div>
</div>