<div class="col-sm-12 cl-md-6 d-flex flex-column bg-light py-2 border mw-100">
  <div class="accordion-button collapsed p-0 bg-light fs-3 " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
    <i class= "bi bi-cart me-2"></i>
    <span>Order Summary</span>
  </div>
  <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <%= render partial: 'orders/order_item_summary', collection: order.order_items, as: :order_item %>
    </div>
  </div>

  <div class="align-self-end">
    <span>Total: </span>
    <span>$<%= order.total %></span>
  </div>
</div>
