<section class="d-flex flex-wrap secondary-bg container-fluid p-1">
  <%= render @sneakers %>
</section>
<section class="container-fluid py-3 primary-bg ">
  <%= render  'shared/connect' %>
</section>