<%= render partial: 'orders/order_summary', locals: { order: @order } %>
<section class="container-fluid mt-3">
  <p class="text-center fw-bold fs-5">Payment feature coming soon</p>
  <button class="btn w-100 bg-primary text-light p-1 mt-3">
    Email My Order
  </button>
</section>