@import "~bootstrap/scss/bootstrap";
.remove-padding {
  padding: 0;
}

.primary-bg {
  background-color: #f4e1d9;
}

.secondary-bg {
  background-color: #f9f6f0;
}

.gray-bg {
  background: #f0f0f0;
}

.connect-title:after {
  background: #222;
  left: 50%;
  margin-left: -18px;
  content: "";
  width: 36px;
  height: 4px;
  background: #212121;
  position: absolute;
  bottom: -3px;
}

.pagination {
  justify-content: center;
}

p {
  margin-block: 0;
}

#sort-by {
  outline: none;
  border: none;
  box-shadow: none;
}

.cart-badge {
  left: 10px;
  bottom: 18px;
}

.order-summary {
  height: 12vh;
}

.order-items {
  margin-bottom: 12vh;
}

.sneaker-background {
  height: 240px;
}

.logo {
  height: 49px;
}

@media (min-width: 768px) {
  .order-items {
    margin-bottom: 0;
  }
  .primary-font-size {
    font-size: calc(0.8rem + 0.6vw);
  }

  .logo {
    height: 60px;
  }

  .order-summary {
    height: 13vh;
  }

  .fs-3 {
    font-size: calc(1.1rem + 0.6vw) !important;
  }

  .sneaker-background {
    height: 320px;
  }
}

@media (min-width: 992px) {

  .sneaker-image {
    height: 500px;
  }
}
