@import "~bootstrap/scss/bootstrap";
.remove-padding {
  padding: 0;
}

.primary-bg {
  background-color: #f4e1d9;
}

.secondary-bg {
  background-color: #f9f6f0;
}

.gray-bg {
  background: #f0f0f0;
}
