@import "~bootstrap/scss/bootstrap";
.remove-padding {
  padding: 0;
}

.primary-bg {
  background-color: #f4e1d9;
}

.secondary-bg {
  background-color: #f9f6f0;
}

.gray-bg {
  background: #f0f0f0;
}

.connect-title:after {
  background: #222;
  left: 50%;
  margin-left: -18px;
  content: "";
  width: 36px;
  height: 4px;
  background: #212121;
  position: absolute;
  bottom: -12px;
}

.announcement {
  margin-top: 64px;
}

p {
  margin-block: 0;
}
