  <div class="d-flex flex-column mt-3">
    <div class="">
      <div class="d-flex justify-content-around align-items-center">
        <p class="fs-4">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </p>
        <p class="">
          Based on <%= 03 %> reviews
        </p>
      </div>
    </div>
    <div class="px-4">
      <p class="d-flex justify-content-between">
        <span class="">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </span>
        <span class="">Progressbar</span>
        <span class="">(03)</span>
      </p>
       <p class="d-flex justify-content-between">
        <span class="">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </span>
        <span class="">Progressbar</span>
        <span class="">(03)</span>
      </p>
       <p class="d-flex justify-content-between">
        <span class="">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </span>
        <span class="">Progressbar</span>
        <span class="">(03)</span>
      </p>
      <p class="d-flex justify-content-between">
        <span>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </span>
        <span>Progressbar</span>
        <span>(03)</span>
      </p>
      <p class="d-flex justify-content-between">
        <span>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
        </span>
        <span>Progressbar</span>
        <span>(03)</span>
      </p>
    </div>
    <div class="my-2">
      <button class="btn w-100 border my-1">
        <span><i class="bi bi-pencil"></i></span>
        <span>Write a review</span>
      </button>
      <button class="btn w-100 border my-1">
        <span><i class="bi bi-chat"></i></span>
        <span>Ask a Question</span>
      </button>
    </div>
  </div>